{% extends "base.html" %} 

{% block title %} <title> {{ title }} </title>{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Список детей сирот</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a href="/core/list/">Главная</a></li>
              <li class="active"><a href="{% url create %}">Создать</a></li>
              <!--<li><a href="#contact">Логин</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
      <li>
      <a href="{% url list %}">Список лиц</a> <span class="divider">/</span>
      </li>
      <li class="active">
        <a>Создание</a>
      </li>
    </ul>

    {% include "passport_form.html" %}
{% endblock %}
