{% extends "base.html" %} 

{% block title %} <title> {{ title }} </title>{% endblock %}

{% block content %}
    <ul class="breadcrumb">
      <li>
        <a href="/">Главная</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="../../../">Список лиц</a> <span class="divider">/</span>
      </li>
      <li class="active">
        <a href="#">Редактирование</a>
      </li>
    </ul>

    <form action="{{form.object.pk}}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

  <button class="btn btn-primary" type="button">Редактировать</button>
{% endblock %}
