{% extends "base.html" %} 

{% block title %} <title> {{ title }} </title>{% endblock %}

{% block content %}
    <ul class="breadcrumb">
      <li>
        <a href="/core/list">Список лиц</a> 
      </li>
    </ul>

   {% include "search_form.html" %}

  {% if passport_list %}
      <table class="table table-bordered table-condensed table-hover">
            <tbody>
                <tr>
                    <th>ФИО</th>
                    <th>Серия номер документа, удостоверяющего личность</th>
                    <th>Дата рождения</th>
                    <th>Регистрация по месту жительства</th>
                    <th>Правовой статус</th>
                    <th>Дата и время подачи заявления</th>
                    <th>Дата внесения в список</th>
                </tr>
                {% for passport in passport_list %}
                    <tr onclick="location.href = '{% url 'update' pk=passport.pk %}';">
                        <td>{{ passport.surname }} {{passport.name }} {{passport.patronymic }}  </td>
                        {% if passport.document_number %}
                            <td>{{  passport.document_number }} </td>
                        {% else %}
                            <td> </td>
                        {% endif %}

                        {% if passport.birthday %}
                            <td>{{  passport.birthday }} </td>
                        {% else %}
                            <td> </td>
                        {% endif %}

                        {% if passport.registration_address_region %}
                            <td>{{  passport.registration_address_region }},  {{ passport.registration_address_mo}}, {{ passport.registration_address_address }}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}

                        {% if passport.lowful_status %}
                            <td>{{  passport.lowful_status }} </td>
                        {% else %}
                            <td> </td>
                        {% endif %}

                        {% if passport.order_allegation_date_and_time %}
                            <td>{{  passport.order_allegation_date_and_time }} </td>
                        {% else %}
                            <td> </td>
                        {% endif %}

                        {% if passport.order_date %}
                            <td>{{  passport.order_date }} </td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                    </tr>




                    </tr>
                {% endfor %}
            </tbody>
      </table>
  {% else %}
      Ничего не найдено
  {%  endif %}
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'list' %}?page={{ page_obj.previous_page_number }}">назад</a>
            {% endif %}
            <span class="page-current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'list' %}?page={{ page_obj.next_page_number }}">вперед</a>
            {% endif %}
        </span>
    </div>
{% endif %}


{% if passport_list %}
    <div class="form-actions">
        <div class="row">
            <div class="span2">
                <a href="{{ xls_path }}" class="btn btn-success">В Excel</a>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
