{% extends "base.html" %} 

{% block title %} <title> {{ title }} </title>{% endblock %}

{% block content %}
    <ul class="breadcrumb">
      <li>
        <a href="/core/list">Список лиц</a> 
      </li>
    </ul>

   {% include "quick_search.html" %}
    
  <table class="table table-bordered table-condensed table-hover">
        <tbody>
            <tr>
                <th>ФИО</th>
                <th>Дата рождения</th>
                <th>Дата включения в список</th>
                <th>Тип регистрации</th>
                <th>Адрес проживания</th>
                <th>Причина отсутсвия регистрации</th>
            </tr>
            {% for passport in passport_list %}
                <tr onclick="location.href = '{% url view pk=passport.pk %}';">
                    <td>{{ passport.name }} {{passport.surname }} {{passport.patronymic }}  </td>
                    {% if passport.birthday %}
                        <td>{{  passport.birthday }} </td>
                    {% else %}
                        <td> </td>
                    {% endif %}

                    {% if passport.date_of_list %}
                        <td>{{  passport.birthday }} </td>
                    {% else %}
                        <td> </td>
                    {% endif %}

                    <td>{{ passport.registration_type }}  </td>
                    <td>{{ passport.reqistration_address }}  </td>
                    <td>{{ passport.no_reqistration_reason }}  </td>



                </tr>
            {% endfor %}
        </tbody>
  </table>
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url list %}?page={{ page_obj.previous_page_number }}">назад</a>
            {% endif %}
            <span class="page-current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{% url list %}?page={{ page_obj.next_page_number }}">вперед</a>
            {% endif %}
        </span>
    </div>
{% endif %}

<div class="form-actions">
    <div class="row">
        <div class="span2">
            <a href="{{ xls_path }}" class="btn btn-success">В Excel</a>
        </div>
    </div>
</div>


{% endblock %}
