{% extends "base.html" %}

{% block content %}

{{ title }}

{% if request.user.is_authenticated %}   
    <p> Вы уже вошли как {{ request.user }}. 
    <a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Выйти</a></p>
{% else %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-info" value="Логин" />
    <input type="hidden" name="next" value="{% url 'list' %}" />
    </form>
{% endif %}

{% endblock %}
