{% load widget_tweaks %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {{ form.non_field_errors }}
    <!-- row1 -->
    <div class = "row">
        <div class="span4 text-error">
            {% for error in form.name.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.patronymic.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.surname.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span4 ">{{ form.name.label }}</div>
        <div class="span4 ">{{ form.patronymic.label }}</div>
        <div class="span4 ">{{ form.surname.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.name|attr:"class: span4" }}
        {{ form.patronymic|attr:"class: span4" }}
        {{ form.surname|attr:"class: span4" }}
    </div>

    <!-- row2 -->
    <div class = "row">
        <div class="span4 text-error">
            {% for error in form.birthday.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.date_of_list.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.registration_type.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span4 ">{{ form.birthday.label }}</div>
        <div class="span4 ">{{ form.date_of_list.label }}</div>
        <div class="span4 ">{{ form.registration_type.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.birthday|attr:"class:span4 date"|attr:"placeholder:день.месяц.год" }}
        {{ form.date_of_list|attr:"class:span4 date"|attr:"placeholder:день.месяц.год" }}
        {{ form.registration_type|attr:"class:span4" }}
    </div>

    <!-- row3 -->
    <div class = "row">
        <div class="span4 text-error">
            {% for error in form.document.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.document_number.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span2 text-error">
            {% for error in form.document_date.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span2 text-error">
            {% for error in form.document_issue.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span4 ">{{ form.document.label }}</div>
        <div class="span4 ">{{ form.document_number.label }}</div>
        <div class="span2 ">{{ form.document_date.label }}</div>
        <div class="span2 ">{{ form.document_issue.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.document|attr:"class:span4 document_type"}}
        {{ form.document_number|attr:"class:span4 document_number"}}
        {{ form.document_date|attr:"class:span2 date"|attr:"placeholder:день.месяц.год" }}
        {{ form.document_issue|attr:"class:span2" }}
    </div>

    <!-- row -->
    <div class = "row">
        <div class="span4 text-error">
            {% for error in form.reqistration_address.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.no_reqistration_reason.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.fact_live_address_in_mo.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span4 ">{{ form.reqistration_address.label }}</div>
        <div class="span4 ">{{ form.no_reqistration_reason.label }}</div>
        <div class="span4 ">{{ form.fact_live_address_in_mo.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.reqistration_address|attr:"class: span4" }}
        {{ form.no_reqistration_reason|attr:"class: span4" }}
        {{ form.fact_live_address_in_mo|attr:"class: span4" }}
    </div>

    <!-- row -->
    <div class = "row">
        <div class="span4 text-error">
            {% for error in form.fact_live_address_outside_mo.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.place_of_first_find.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.real_estate_EGRP.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span4 ">{{ form.fact_live_address_outside_mo.label }}</div>
        <div class="span4 ">{{ form.place_of_first_find.label }}</div>
        <div class="span4 ">{{ form.real_estate_EGRP.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.fact_live_address_outside_mo|attr:"class: span4" }}
        {{ form.place_of_first_find|attr:"class: span4" }}
        {{ form.real_estate_EGRP|attr:"class: span4" }}
    </div>

    <!-- row -->
    <div class = "row">
        <div class="span4 text-error">
            {% for error in form.children.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.has_real_estate.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.family_status.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span4 ">{{ form.children.label }}</div>
        <div class="span4 ">{{ form.has_real_estate.label }}</div>
        <div class="span4 ">{{ form.family_status.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.children|attr:"class: span4" }}
        {{ form.has_real_estate|attr:"class: span4" }}
        {{ form.family_status|attr:"class: span4" }}
    </div>

    <!-- row -->
    <div class = "row">
        <div class="span4 text-error">
            {% for error in form.real_estate_not_EGRP.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.form_of_care.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.spokesman_data.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span4 ">{{ form.real_estate_not_EGRP.label }}</div>
        <div class="span4 ">{{ form.form_of_care.label }}</div>
        <div class="span4 ">{{ form.spokesman_data.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.real_estate_not_EGRP|attr:"class: span4" }}
        {{ form.form_of_care|attr:"class: span4" }}
        {{ form.spokesman_data|attr:"class: span4" }}
    </div>

    <!-- row -->
    <div class = "row">
        <div class="span4 text-error">
            {% for error in form.provision_of_employment_type.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.employment_place.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.education_type.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span4 ">{{ form.provision_of_employment_type.label }}</div>
        <div class="span4 ">{{ form.employment_place.label }}</div>
        <div class="span4 ">{{ form.education_type.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.provision_of_employment_type|attr:"class: span4" }}
        {{ form.employment_place|attr:"class: span4" }}
        {{ form.education_type|attr:"class: span4" }}
    </div>

    <!-- row -->
    <div class = "row">
        <div class="span4 text-error">
            {% for error in form.name_institution_of_education.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.vacation.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.army.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span4 ">{{ form.name_institution_of_education.label }}</div>
        <div class="span4 ">{{ form.vacation.label }}</div>
        <div class="span4 ">{{ form.army.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.name_institution_of_education|attr:"class: span4" }}
        {{ form.vacation|attr:"class: span4" }}
        {{ form.army|attr:"class: span4" }}
    </div>

    <!-- row -->
    <div class = "row">
        <div class="span4 text-error">
            {% for error in form.jail.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.other.errors %}
               {{ error }}
            {% endfor %}
        </div>
        <div class="span4 text-error">
            {% for error in form.date_of_service_expired.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span4 ">{{ form.jail.label }}</div>
        <div class="span4 ">{{ form.other.label }}</div>
        <div class="span4 ">{{ form.date_of_service_expired.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.jail|attr:"class: span4" }}
        {{ form.other|attr:"class: span4" }}
        {{ form.date_of_service_expired|attr:"class:span4 date"|attr:"placeholder:день.месяц.год" }}
    </div>
    <!-- row -->
    <div class = "row">
        <div class="span12 text-error">
            {% for error in form.annotation.errors %}
               {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span12 ">{{ form.annotation.label }}</div>
    </div>
    <div class = "controls-row">
        {{ form.annotation|attr:"class: span12" }}
    </div>
    <br />

        <input type="submit" class="btn btn-primary" value="Сохранить" />
