{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{{ form.non_field_errors }}

{# name #}
<div class="row">
    <div class="span12 grey text-center">
        <h5 class="text-info">Фамилия Имя Отчество</h5>
    </div>
</div>
<div class = "row">
    <div class="span3 text-error">
        {% for error in form.surname.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.name.errors %}
           {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.patronymic.errors %}
           {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.birthday.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span3 ">{{ form.surname.label }}</div>
    <div class="span3 ">{{ form.name.label }}</div>
    <div class="span3 ">{{ form.patronymic.label }}</div>
    <div class="span3 ">{{ form.birthday.label }}</div>
</div>
<div class = "controls-row">
    {{ form.surname|attr:"class: span3" }}
    {{ form.name|attr:"class: span3" }}
    {{ form.patronymic|attr:"class: span3" }}
    {{ form.birthday|attr:"class: span3 date"|attr:"placeholder:день.месяц.год" }}
</div>

{# person document #}
<div class="row">
    <div class="span12">  &nbsp;  </div>
</div>
<div class="row">
    <div class="span12 grey text-center">
        <h5 class="text-info"> Документ удостоверяющий личность </h5>
    </div>
</div>

<div class = "row">
    <div class="span4 text-error">
        {% for error in form.document.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span2 text-error">
        {% for error in form.document_number.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span2 text-error">
        {% for error in form.document_date.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error">
        {% for error in form.document_issue.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span4 ">{{ form.document.label }}</div>
    <div class="span2 ">{{ form.document_number.label }}</div>
    <div class="span2 ">{{ form.document_date.label }}</div>
    <div class="span4 ">{{ form.document_issue.label }}</div>
</div>
<div class = "controls-row">
    {{ form.document|attr:"class:span4 document_type"}}
    {{ form.document_number|attr:"class:span2 document_number"}}
    {{ form.document_date|attr:"class:span2 date"|attr:"placeholder:день.месяц.год" }}
    {{ form.document_issue|attr:"class:span4" }}
</div>

{# persons set on account before 1 january 2013 year #}
<div class="row">
    <div class="span12">  &nbsp;  </div>
</div>
<div class="row">
    <div class="span12 grey text-center">
        <h5 class="text-info"> Для лиц поставленных на учет до 1 января 2013 </h5>
    </div>
</div>

<div class = "row">
    <div class="span4 text-error">
        {% for error in form.person_before_2013_document_name.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error">
        {% for error in form.person_before_2013_document_date.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error">
        {% for error in form.person_before_2013_document_number.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span4 ">{{ form.person_before_2013_document_name.label }}</div>
    <div class="span4 ">{{ form.person_before_2013_document_date.label }}</div>
    <div class="span4 ">{{ form.person_before_2013_document_number.label }}</div>
</div>
<div class = "controls-row">
    {{ form.person_before_2013_document_name|attr:"class:span4 document_type"}}
    {{ form.person_before_2013_document_date|attr:"class:span4 date"|attr:"placeholder:день.месяц.год" }}
    {{ form.person_before_2013_document_number|attr:"class:span4"}}
</div>

{# registration and living #}
<div class="row">
    <div class="span12">  &nbsp;  </div>
</div>
<div class="row" id="hide1">
    <div class="span12 grey text-center">
        <h5 class="text-info"> Регистрация и проживание </h5>
    </div>
</div>

<div class = "row">
    <div class="span3 text-error">
        {% for error in form.registration_address_region.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.registration_address_mo.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.registration_address_address.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.registration_address_where.errors %}
            {{ error }}
        {% endfor %}
    </div>

</div>
<div class = "row">
    <div class="span3 ">{{ form.registration_address_region.label }}</div>
    <div class="span3 ">{{ form.registration_address_mo.label }}</div>
    <div class="span3 ">{{ form.registration_address_address.label }}</div>
    <div class="span3 ">{{ form.registration_address_where.label }}</div>
</div>
<div class = "controls-row">
    {{ form.registration_address_region |attr:"class: span3" }}
    {{ form.registration_address_mo |attr:"class: span3" }}
    {{ form.registration_address_address |attr:"class: span3" }}
    {{ form.registration_address_where |attr:"class: span3" }}
</div>

<div class = "row">
    <div class="span12 text-error registration_other">
        {% for error in form.registration_other.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span12 registration_other">{{ form.registration_other.label }}</div>
</div>
<div class = "controls-row">
    {{ form.registration_other |attr:"class: span12 registration_other" }}
</div>

<div class = "row">
    <div class="span3 text-error">
        {% for error in form.registration_live_at_registration_address.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

<div class = "row">
    <div class="span3 ">{{ form.registration_live_at_registration_address.label }}</div>
</div>
<div class = "controls-row">
    {{ form.registration_live_at_registration_address |attr:"class: span3" }}
</div>

<div class = "row">
    <div class="span3 text-error living">
        {% for error in form.living_address_region.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error living">
        {% for error in form.living_address_mo.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error living">
        {% for error in form.living_address_address.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error living">
        {% for error in form.living_address_where.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>


<div class = "row">
    <div class="span3 living">{{ form.living_address_region.label }}</div>
    <div class="span3  living">{{ form.living_address_mo.label }}</div>
    <div class="span3  living">{{ form.living_address_address.label }}</div>
    <div class="span3  living">{{ form.living_address_where.label }}</div>
</div>
<div class = "controls-row">
    {{ form.living_address_region |attr:"class: span3 living" }}
    {{ form.living_address_mo |attr:"class: span3 living" }}
    {{ form.living_address_address |attr:"class: span3 living" }}
    {{ form.living_address_where |attr:"class: span3 living" }}
</div>

<div class = "row">
    <div class="span12 text-error living_other">
        {% for error in form.living_other.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span12 living_other">{{ form.living_other.label }}</div>
</div>
<div class = "controls-row">
    {{ form.living_other |attr:"class: span12 living_other" }}
</div>

<div class = "row">
    <div class="span3 text-error">
        {% for error in form.living_live_at_living_address.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>

{# orders and dates #}
<div class="row">
    <div class="span12">  &nbsp;  </div>
</div>
<div class="row">
    <div class="span12 grey text-center">
        <h5 class="text-info"> Заявления и договора </h5>
    </div>
</div>

<div class = "row">
    <div class="span2 text-error">
        {% for error in form.order_allegation_date_and_time.errors %}
           {{ error }}
        {% endfor %}
    </div>
    <div class="span2 text-error">
        {% for error in form.order_number_of_queue.errors %}
           {{ error }}
        {% endfor %}
    </div>
    <div class="span2 text-error">
        {% for error in form.order_UMSO_conclusion_date.errors %}
           {{ error }}
        {% endfor %}
    </div>
    <div class="span2 text-error">
        {% for error in form.order_number.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span2 text-error">
        {% for error in form.order_date.errors %}
           {{ error }}
        {% endfor %}
    </div>
    <div class="span2 text-error">
        {% for error in form.order_date_negative.errors %}
           {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span2 ">{{ form.order_allegation_date_and_time.label }}</div>
    <div class="span2 ">{{ form.order_number_of_queue.label }}</div>
    <div class="span2 ">{{ form.order_UMSO_conclusion_date.label }}</div>
    <div class="span2 ">{{ form.order_number.label }}</div>
    <div class="span2 ">{{ form.order_date.label }}</div>
    <div class="span2 ">{{ form.order_date_negative.label }}</div>
</div>
<div class = "controls-row">
    {{ form.order_allegation_date_and_time|attr:"class:span2 date_time"|attr:"placeholder:день.месяц.год часы:минуты" }}
    {{ form.order_number_of_queue |attr:"class:span2" }}
    {{ form.order_UMSO_conclusion_date |attr:"class:span2 date"|attr:"placeholder:день.месяц.год" }}
    {{ form.order_number|attr:"class:span2" }}
    {{ form.order_date |attr:"class:span2 date"|attr:"placeholder:день.месяц.год" }}
    {{ form.order_date_negative |attr:"class:span2 date"|attr:"placeholder:день.месяц.год" }}
</div>

{# lowful status #}
<div class="row">
    <div class="span12">  &nbsp;  </div>
</div>
<div class="row" id="hide1">
    <div class="span12 grey text-center">
       <h5 class="text-info"> Правовой статус </h5>
    </div>
</div>

<div class = "row">
    <div class="span text-error">
        {% for error in form.lowful_status.errors %}
           {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.lowful_status_invalidity.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span3 ">{{ form.lowful_status.label }}</div>
    <div class="span3 ">{{ form.lowful_status_invalidity.label }}</div>
</div>
<div class = "controls-row">
    {{ form.lowful_status|attr:"class: span3" }}
    {{ form.lowful_status_invalidity|attr:"class: span3" }}
</div>


<div class = "row">
    <div class="span6 text-error">
        {% for error in form.lowful_document_name.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.lowful_status_date.errors %}
           {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.lowful_status_number.errors %}
           {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span6 ">{{ form.lowful_document_name.label }}</div>
    <div class="span3 ">{{ form.lowful_status_date.label }}</div>
    <div class="span3 ">{{ form.lowful_status_number.label }}</div>
</div>
<div class = "controls-row">
    {{ form.lowful_document_name |attr:"class: span6" }}
    {{ form.lowful_status_date|attr:"class: span3 date" }}
    {{ form.lowful_status_number|attr:"class: span3" }}
</div>

<div class = "row">
    <div class="span6 text-error">
        {% for error in form.lowful_document_name2.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.lowful_status_date2.errors %}
           {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error">
        {% for error in form.lowful_status_number2.errors %}
           {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span6 ">{{ form.lowful_document_name2.label }}</div>
    <div class="span3 ">{{ form.lowful_status_date2.label }}</div>
    <div class="span3 ">{{ form.lowful_status_number2.label }}</div>
</div>
<div class = "controls-row">
    {{ form.lowful_document_name2 |attr:"class: span6" }}
    {{ form.lowful_status_date2|attr:"class: span3 date" }}
    {{ form.lowful_status_number2|attr:"class: span3" }}
</div>
{#  spokesman data #}
<span id="spokesman_data">
    <div class="row">
        <div class="span12 spokesman_data">  &nbsp;  </div>
    </div>
    <div class="row">
        <div class="span12 grey text-center spokesman_data">
            <h5 class="text-info"> Сведения о законном представителе </h5>
        </div>
    </div>

    <div class = "row">
        <div class="span3 text-error spokesman_data">
            {% for error in form.form_of_care_spokesman_type.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="span8 text-error spokesman_data">
            {% for error in form.form_of_care_spokesman_data.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class = "row">
        <div class="span3 spokesman_data">{{ form.form_of_care_spokesman_type.label }}</div>
        <div class="span8 spokesman_data">{{ form.form_of_care_spokesman_data.label }}</div>
    </div>
    <div class = "controls-row spokesman_data">
        {{ form.form_of_care_spokesman_type|attr:"class: span3 spokesman_data" }}
        {{ form.form_of_care_spokesman_data|attr:"class: span8 spokesman_data" }}
    </div>
</span>

{# family status data #}
<div class="row">
    <div class="span12">  &nbsp;  </div>
</div>
<div class="row">
    <div class="span12 grey text-center">
        <h5 class="text-info"> Семейное положение </h5>
    </div>
</div>

<div class = "row">
    <div class="span4 text-error">
        {% for error in form.family_status.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error">
        {% for error in form.family_status_children.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span4">{{ form.family_status.label }}</div>
    <div class="span4">{{ form.family_status_children.label }}</div>
</div>
<div class = "controls-row">
    {{ form.family_status |attr:"class: span4" }}
    {{ form.family_status_children |attr:"class: span4" }}
</div>

{# estate #}
<div class="row">
    <div class="span12">  &nbsp;  </div>
</div>
<div class="row">
    <div class="span12 grey text-center">
        <h5 class="text-info"> Обстоятельства, препятствующие проживанию в ранее занимаемых помещениях </h5>
    </div>
</div>

<div class = "row">
    <div class="span4 text-error">
        {% for error in form.estate_has_estate.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error has_estate">
        {% for error in form.estate_cant_live_date_of_order.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error has_estate">
        {% for error in form.estate_cant_live_order_number.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span4">{{ form.estate_has_estate.label }}</div>
    <div class="span4 has_estate">{{ form.estate_cant_live_date_of_order.label }}</div>
    <div class="span4 has_estate">{{ form.estate_cant_live_order_number.label }}</div>
</div>
<div class = "controls-row">
    {{ form.estate_has_estate |attr:"class: span4" }}
    {{ form.estate_cant_live_date_of_order |attr:"class: span4 has_estate date" }}
    {{ form.estate_cant_live_order_number |attr:"class: span4 has_estate" }}
</div>

{# job and education #}
<div class="row">
    <div class="span12">  &nbsp;  </div>
</div>
<div class="row">
    <div class="span12 grey text-center">
        <h5 class="text-info"> Форма занятости </h5>
    </div>
</div>

<div class = "row">
    <div class="span4 text-error">
        {% for error in form.job_type_of_job.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error job_has_job">
        {% for error in form.job_how_hired.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error job_has_job">
        {% for error in form.job_job_place.errors %}
            {{ error }}
        {% endfor %}
    </div>

    <div class="span4 text-error job_has_education">
        {% for error in form.job_eduction_type.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error job_has_education">
        {% for error in form.job_education_house.errors %}
            {{ error }}
        {% endfor %}
    </div>

    <div class="span8 text-error job_has_other">
        {% for error in form.job_other.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span4">{{ form.job_type_of_job.label }}</div>

    <div class="span4 job_has_job">{{ form.job_how_hired.label }}</div>
    <div class="span4 job_has_job">{{ form.job_job_place.label }}</div>

    <div class="span4 job_has_education">{{ form.job_eduction_type.label }}</div>
    <div class="span4 job_has_education">{{ form.job_education_house.label }}</div>

    <div class="span8 job_has_other">{{ form.job_other.label }}</div>
</div>
<div class = "controls-row">
    {{ form.job_type_of_job |attr:"class: span4" }}

    {{ form.job_how_hired |attr:"class: span4 job_has_job" }}
    {{ form.job_job_place |attr:"class: span4 job_has_job" }}

    {{ form.job_eduction_type |attr:"class: span4 job_has_education" }}
    {{ form.job_education_house |attr:"class: span4 job_has_education" }}

    {{ form.job_other |attr:"class: span8 job_has_other" }}
</div>

<div class = "row">
    <div class="span4 text-error job_period">
        {% for error in form.job_started.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error job_period">
        {% for error in form.job_finished.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span4 job_period">{{ form.job_started.label }}</div>
    <div class="span4 job_period">{{ form.job_finished.label }}</div>
</div>
<div class = "controls-row">
    {{ form.job_started |attr:"class: span4 date job_period" }}
    {{ form.job_finished |attr:"class: span4 date job_period" }}
</div>

{# lodging #}
<div class="row">
    <div class="span12">  &nbsp;  </div>
</div>
<div class="row">
    <div class="span12 grey text-center">
        <h5 class="text-info"> Предоставлено жилье </h5>
    </div>
</div>

<div class = "row">
    <div class="span3 text-error">
        {% for error in form.lodging_accordance.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error lodging">
        {% for error in form.lodging_how_gained.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span3 text-error lodging">
        {% for error in form.lodging_house_or_flat.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span text-error lodging">
        {% for error in form.lodging_square.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span3">{{ form.lodging_accordance.label }}</div>
    <div class="span3 lodging">{{ form.lodging_how_gained.label }}</div>
    <div class="span3 lodging">{{ form.lodging_house_or_flat.label }}</div>
    <div class="span3 lodging">{{ form.lodging_square.label }}</div>
</div>
<div class = "controls-row">
    {{ form.lodging_accordance |attr:"class: span3" }}
    {{ form.lodging_how_gained |attr:"class: span3 lodging" }}
    {{ form.lodging_house_or_flat |attr:"class: span3 lodging" }}
    {{ form.lodging_square |attr:"class: span3 lodging" }}
</div>

<div class = "row">
    <div class="span4 text-error">
        {% for error in form.order_of_hiring_date.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="span4 text-error">
        {% for error in form.order_of_hiring_number.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<div class = "row">
    <div class="span4 lodging">{{ form.order_of_hiring_date.label }}</div>
    <div class="span4 lodging">{{ form.order_of_hiring_number.label }}</div>
</div>
<div class = "controls-row">
    {{ form.order_of_hiring_date|attr:"class:span3 lodging date"|attr:"placeholder:день.месяц.год" }}
    {{ form.order_of_hiring_number|attr:"class:span3 lodging" }}
</div>

{# place #}
<div class="row">
    <div class="span12">  &nbsp;  </div>
</div>
<div class="row">
    <div class="span12 grey text-center">
        <h5 class="text-info"> Место первичного выявления </h5>
    </div>
</div>

<div class = "row">
  <div class="span4 text-error">
      {% for error in form.place_of_detect.errors %}
          {{ error }}
      {% endfor %}
  </div>
  <div class="span4 text-error">
      {% for error in form.place_of_detect_mo.errors %}
          {{ error }}
      {% endfor %}
  </div>
  <div class="span4 text-error">
      {% for error in form.place_of_detect_document_name.errors %}
          {{ error }}
      {% endfor %}
  </div>
</div>
<div class = "row">
  <div class="span4">{{ form.place_of_detect.label }}</div>
  <div class="span4">{{ form.place_of_detect_mo.label }}</div>
  <div class="span4">{{ form.place_of_detect_document_name.label }}</div>
</div>
<div class = "controls-row">
  {{ form.place_of_detect |attr:"class: span4" }}
  {{ form.place_of_detect_mo |attr:"class: span4" }}
  {{ form.place_of_detect_document_name |attr:"class: span4" }}
</div>

<div class = "row">
  <div class="span4 text-error">
      {% for error in form.place_of_detect_document_date.errors %}
          {{ error }}
      {% endfor %}
  </div>
  <div class="span4 text-error">
      {% for error in form.place_of_detect_document_number.errors %}
          {{ error }}
      {% endfor %}
  </div>
</div>
<div class = "row">
  <div class="span4">{{ form.place_of_detect_document_date.label }}</div>
  <div class="span4">{{ form.place_of_detect_document_number.label }}</div>
</div>
<div class = "controls-row">
  {{ form.place_of_detect_document_date |attr:"class: span4 date" }}
  {{ form.place_of_detect_document_number |attr:"class: span4" }}
</div>

<br />
        <input type="submit" class="btn btn-primary" value="Сохранить" />
