{% extends "base.html" %} 

{% block title %} <title> {{ title }} </title>{% endblock %}

{% block content %}
<div class="row"> 
    <div class="span1"></div>
</div>
<div class="row"> 
    <div class="span1"></div>
</div>
<div class="row"> 
    <div class="span1"></div>
</div>
    <ul class="breadcrumb">
      <li>
        <a href="/">Главная</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="../../../">Список лиц</a> <span class="divider">/</span>
      </li>
      <li class="active">
        <a href="#">Редактирование</a>
      </li>
    </ul>

  <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>Название</th>
                <th>Значение</th>
            </tr>
            {% for field in passport_fields %}
                <tr>
                    <td>{{ field.name }}  </td>
                    <td>{{ field.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
  </table>
  <button class="btn btn-primary" type="button">Редактировать</button>
{% endblock %}
