{% extends "base.html" %} 

{% block title %} <title> {{ title }} </title>{% endblock %}

{% block content %}
    <ul class="breadcrumb">
      <li>
      <a href="{% url list %}">Список лиц</a> <span class="divider">/</span>
      </li>
      <li class="active">
        <a>Просмотр</a>
      </li>
    </ul>

    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>Название</th>
                <th>Значение</th>
            </tr>
            {% for field in passport_fields %}
                <tr>
                    <td>{{ field.name }}  </td>
                    <td>{{ field.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if request.user.is_authenticated %}
        <div class="form-actions">
            <div class="row">
                {% if perms.core.change_passport %} 
                    <div class="span1">
                        <a href="{% url update pk=object.pk %}" class="btn btn-info">Редактировать</a>
                    </div> 
                {% endif %}
                {% if perms.core.delete_passport %} 
                    <div class="span1 offset9">
                        <a href="{% url delete pk=object.pk %}" class="btn btn-danger">Удалить</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
